################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CracklePop/bin/Debug
/CracklePop/obj/Debug
/CracklePopTest/bin/Debug
/CracklePopTest/obj/Debug
